html {
    box-sizing: border-box; 
    scroll-behavior: smooth;
}
  
  *,
  ::before,
  ::after {
    box-sizing: inherit; 
}

:root {
    --color_white: #ffffff;
    --color-text: #000;
    --color-green: #2e3929;
}

@font-face {
    font-family: 'OpenSans';
    src: url("../fonts/OpenSansBold.woff2") format("woff2"),
    url("../fonts/OpenSansBold.woff") format("woff"); 
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url("../fonts/OpenSansRegular.woff2") format("woff2"),
    url("../fonts/OpenSansRegular.woff") format("woff"); 
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url("../fonts/OpenSansLight.woff2") format("woff2"),
    url("../fonts/OpenSansLight.woff") format("woff"); 
    font-display: swap;
    font-weight: 300;
    font-style: normal;
}

/* @font-face {
    font-family: 'Buljirya';
     src: url("../fonts/BuljiryaPersonalUse.woff2") format("woff2"),
    url("../fonts/BuljiryaPersonalUse.woff") format("woff"), 
     url("../fonts/BuljiryaPersonalUse.ttf") format("truetype"); 
    font-display: swap;
    font-weight: 700;
    font-style: normal;
} */

body {
    min-width: 320px;   
    margin: 0 auto;
    background-color: var(--color_white);
    font-family: 'OpenSans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--color-text);
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
}

img {
    max-width: 100%;
    height: auto;
    object-fit: contain; 
}
  
a {
    text-decoration: none; 
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}

.btn {
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: 1px solid transparent;
    outline: none;
    cursor: pointer;
}

.link {
    padding: 5px;
    cursor: pointer;
    outline: none;
    position: relative;
    border-radius: 5px;
}

.link::after {
    content: '';
    width: 0;
    height: 1px;
    background-color: var(--color_white);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.3s ease-in-out, outline 0.3s ease-in-out;
}

.link:focus-visible {
    outline: 1px solid var(--color_white);
    outline-offset: 2px;
}

.link:hover {
    outline: none;
}

.link:hover::after {
    width: 100%;    
}

.wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1270px;
    width: 100%;
}

.title {    
    font-weight: 700;
    font-size: 36px;
    line-height: 56px;
    text-transform: uppercase;
}

/*Header*/
.header {    
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    z-index: 10;
}

.header__container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 10px;
}

.header__logo {
    width: 24px;
    height: 36px;
}

.header__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 28px;    
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    min-width: 650px;
    position: relative;
}

.header__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 48px;    
}

.header__link {
    display: block;
    text-transform: uppercase;
    color: var(--color_white);    
}

/*Burger*/
.burger {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 25px;
    height: 20px;
}

.burger__line {
    width: 100%;
    height: 2px;
    background-color: var(--color_white);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.burger.open .burger__line:nth-child(1) {
    transform: rotate(45deg) translateY(10px);
}

.burger.open .burger__line:nth-child(2) {
    opacity: 0;
}

.burger.open .burger__line:nth-child(3) {
    transform: rotate(-45deg) translate(1px, -11px);
}

/*Смена языка*/
.en {
    display: none;
}

.header__lang {
    position: relative;
    display: inline-block;
    background-color: transparent;
    border: none;
    outline: none;
    text-transform: uppercase;
    color: var(--color_white);
    width: 38px;
}

.dropbtn {
    padding: 5px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;    
    width: 38px;    
}

.dropbtn {    
  width: 38px;
}

.dropbtn::after {    
    content: "";    
    position: absolute;
    right: 4px;
    top: 10px;    
    background: url(../images/icons/IconArrow.svg) center no-repeat;
    width: 8px;
    height: 6px;
    transition: transform 0.3s ease-in-out;
}

.dropdown-content button {
    padding: 2px 5px;    
    color: var(--color_white);
    transition: all 0.3s ease-in-out;
}

.dropdown-content button:hover {
    background-color: #f1f1f1;
    color: var(--color-text);
}

.header__lang:hover .dropbtn::after {
    transform: rotate(180deg);
}

.header__lang:hover .dropdown-content {
    display: block;
} 

/*Hero*/
.hero {
    margin-bottom: 155px;
    width: 100%;
    position: relative;    
}

.hero__body {
    position: absolute;
    top: 45%;
    left: 22%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 45%;
}

/* .hero__title {
    font-family: 'Buljirya';
    font-size: 228px;
    font-style: normal;
    font-weight: 400;
    line-height: 192px; 
    text-transform: lowercase;
    color: var(--color_white);
} */

.hero__subtitle {
    margin-right: 30px;
    font-size: 24px;
    font-weight: 300;
    line-height: 36px;
    color: var(--color_white);
}

/*Details*/
.details {
    margin-bottom: 140px;
}

.details__container {
    display: grid;
    grid-template-columns: 1fr 505px;
    gap: 16px;
}

.details__content {
    padding-top: 30px;
    padding-left: 105px;
}

.details__title{
    margin-bottom: 30px;
    text-transform: uppercase;
}

.details__list {
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;    
}

.details__item {
    display: flex;
    gap: 5px;
    font-size: 24px;
    line-height: 40px;
}

.details__subtitle {
    font-weight: 700;
}

.info {
    display: flex;
    align-items: flex-start;
    gap: 120px;
}

.info__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;    
}

.info__number {   
    font-size: 64px;
    font-weight: 300;    
    line-height: 68px;
    text-transform: lowercase;
}

.info__text {   
    font-size: 20px;
    font-weight: 300;
    line-height: 28px;    
}

/*Project*/
.project {
    margin-bottom: 155px;
    padding-top: 160px;
    padding-bottom: 147px;
    background-color: var(--color-green);
}

.project__content {
    padding-top: 108px;
    padding-left: 108px;
}

.project__swiper {
    width: 100%;
    height: 755px;
}

.project__slide {
    display: grid;
    grid-template-columns: 505px 1fr;
    gap: 16px;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    left: 51%;
    bottom: 27%;
    z-index: 10;
    width: 62px;
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
}

.swiper-pagination-bullet-active {
    background-color: var(--color_white);
}

.project__title {
    margin-bottom: 45px;
    color: var(--color_white);
}

.project__text {
    line-height: 28px;
    color: var(--color_white);
}

.project__text:not(:last-child) {
    margin-bottom: 28px;
}

/*Plan*/
.plan {
    margin-bottom: 155px;
}

.plan__container {
    padding-top: 5px;
    padding-left: 108px;
    display: grid;
    grid-template-columns: 290px 1fr;
    gap: 20px;
}

.plan__title {   
    margin-left: 10px; 
    margin-bottom: 40px;
}

.plan__list {
    padding-left: 13px;
    margin: 0;
    margin-bottom: 40px;    
    list-style: decimal; 
}

.plan__item {
    display: flex;
    gap: 5px;
    font-size: 24px;
    line-height: 40px;
    counter-increment: item;
}

.plan__item::before {
    content: counter(item) ".";
    margin-right: 5px;
}

.plan__all {
    display: flex;
    gap: 5px;
    font-size: 24px;
    line-height: 40px;
}

.plan__text {
    font-weight: 700;
}

.plan__img {
    padding-top: 87px;
    padding-left: 37px;
}

.plan__img-big {
    padding-top: 30px;
    padding-left: 100px;
    grid-column: span 2;
}

/*Interior*/
.interior {
    padding-top: 155px;
    margin-bottom: 155px;
}

.interior__container {
    margin-left: 156px;    
    
}

.interior__title {
    margin-bottom: 45px;
}

.interior__inner {
    overflow: hidden;
    width: 100%;
}

.interior__images {    
    display: flex;   
    gap: 120px; 
    transform: translateX(156px);
    transition: transform 0.3s ease-in-out;
}

.interior__images.transform {
    transform: translateX(-120px);
}

/*Footer*/
.footer {
    padding: 162px 0 65px 0;
    background-color: var(--color-green);
    width: 100%;
}

.footer__title {
    padding-left: 108px;
    margin-bottom: 35px;
    color: var(--color_white);
}

.footer__top {
    padding-left: 108px;
    padding-bottom: 80px;
    display: grid;
    grid-template-columns: 46% 36%;
    justify-content: space-between;
    gap: 20px;
}

.footer__form {
    padding-top: 40px;
    padding-left: 105px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 64px;
}

.form__input {
    padding: 5px 0;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--color_white);
    outline: none;
    font-size: 24px;
    line-height: 40px;
    color: var(--color_white);    
}

.form__input:-webkit-autofill,
.form__input:-webkit-autofill:hover,
.form__input:-webkit-autofill:focus {  
  -webkit-text-fill-color: var(--color_white);
  -webkit-box-shadow: 0 0 0px 1000px #2e3929 inset;
}

.form__input::placeholder {
    font-size: 24px;
    line-height: 40px;
    color: var(--color_white);
}

.form__btn {
    margin-top: 40px;
    padding: 15px 35px;
    color: var(--color_white);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color_white);
    background-color: transparent;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 300;
    line-height: 28px;
    transition: transform 0.3s ease-in-out;
}

.form__btn:hover {
    transform: scale(1.05);
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
}

.contact__item {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.contact__title {
    font-size: 18px;
    line-height: 28px;
    color: var(--color_white);
}

.contact__link {
    font-size: 18px;
    line-height: 40px;
    color: var(--color_white);
}

.contact__link--tel {
    font-size: 24px;
}

.footer__bottom {
    padding-top: 80px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.footer__logo {
    width: 39px;
    height: 58px;
}

.footer__social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.social__item {    
    display: flex;
    align-items: center;
    justify-content: center;    
}

.social__icon path {
    transition: fill-opacity 0.3s ease-in-out;
}

.social__link:hover .social__icon path {
    fill-opacity: 1;    
}
